@import url(http://hello.myfonts.net/count/2ddd1b.css);
    @font-face {
    font-family: HalisR-Black;
    src: url(webfonts/2DDD1B_0_0.eot);
    src: url(webfonts/2DDD1B_0_0.eot?#iefix) format('embedded-opentype'), url(webfonts/2DDD1B_0_0.woff2) format('woff2'), url(webfonts/2DDD1B_0_0.woff) format('woff'), url(webfonts/2DDD1B_0_0.ttf) format('truetype');
}
@font-face {
    font-family: HalisR-Light;
    src: url(webfonts/2DDD1B_1_0.eot);
    src: url(webfonts/2DDD1B_1_0.eot?#iefix) format('embedded-opentype'), url(webfonts/2DDD1B_1_0.woff2) format('woff2'), url(webfonts/2DDD1B_1_0.woff) format('woff'), url(webfonts/2DDD1B_1_0.ttf) format('truetype');
}
@font-face {
    font-family: HalisR-Regular;
    src: url(webfonts/2DDD1B_2_0.eot);
    src: url(webfonts/2DDD1B_2_0.eot?#iefix) format('embedded-opentype'), url(webfonts/2DDD1B_2_0.woff2) format('woff2'), url(webfonts/2DDD1B_2_0.woff) format('woff'), url(webfonts/2DDD1B_2_0.ttf) format('truetype');
}
body {
    background-color: #efefef;
    color: #5f5f5f;
    margin: 0;
}
h1 {
    color: #3390F1;
    font-family: HalisR-Regular;
    font-size: 3.5em;
    text-transform: uppercase;
}
h2 {
    color: #e64659;
    font-family: HalisR-Regular;
    font-size: 2em;
    margin: 0;
    padding: 20px 0;
}
h3 {
    font-family: HalisR-Regular;
}
p {
    color: #5f5f5f;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 2em;
    margin-bottom: 20px;
}
p a {
    color: #3390F1;
    text-decoration: underline;
}
li, h3 {
    font-family: 'Open Sans', sans-serif !important;
    list-style-type: disc;
}
#splash {
    position: relative;
}
.curve {
    position: absolute;
    left: 75px;
    right: 75px;
    border: 4px solid #efefef;
    z-index: 1;
    box-sizing: border-box;
}
@media (max-width:768px) {
    .curve {
    display: none;
}
}@media (max-height:750px) {
    .curve {
    display: none;
}
}#curve1 {
    top: 0;
    bottom: 200px;
    border-radius: 0 0 0 40px;
    right: 115px;
    border-top: none;
    border-right: none;
}
#curve2 {
    height: 201px;
    bottom: 0;
    border-radius: 0 40px 0 0;
    left: 115px;
    border-left: none;
    border-bottom: none;
    -webkit-transform: translate3d(-3px, 0, 0);
    transform: translate3d(0, -3px, 0);
}
.safari-fix {
    height: 204px!important;
}
#timeline-wrapper {
    height: 200px;
    bottom: 10px;
    left: 115px;
    right: 115px;
    z-index: 10;
    position: absolute;
}
@media (max-width:768px) {
    #timeline-wrapper {
    display: none;
}
}@media (max-height:750px) {
    #timeline-wrapper {
    display: none;
}
}#timeline-wrapper .scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 0 20px 0;
    margin-bottom: -20px;
}
#timeline-wrapper td {
    vertical-align: top;
    height: 150px;
    overflow: hidden;
}
#timeline-wrapper .scroll-hide {
    overflow: hidden;
}
#timeline-wrapper .timeline-bubble {
    width: 1pc;
    height: 1pc;
    background-color: #fff;
    border-radius: 8px;
    float: top;
    margin-left: 95px;
}
#timeline-wrapper .date {
    font-size: 15px;
    text-align: right;
    font-family: HalisR-Black;
    color: #fff;
    padding: 1px 2px;
    border-radius: 2px;
    width: 75pt;
    height: 20px;
    margin: 10px 0 0 0;
}
#timeline-wrapper .event-wrapper {
    float: right;
    margin-left: 110px;
    width: 150px;
    margin-top: -22px;
    margin-right: 75pt;
}
#timeline-wrapper .event-wrapper .event {
    color: #e64659;
    font-size: 20px;
    font-family: HalisR-Regular;
}
#timeline-wrapper .event-wrapper .eventnum {
    color: #e64659;
    font-size: 20px;
    font-family: HalisR-Light;
}
#timeline-wrapper .event-wrapper .description {
    color: #fff;
    font-size: .75em;
    font-family: "Open Sans";
    font-weight: 400;
}
#pennapps-logo {
    width: 75pt;
    position: absolute;
    right: 20px;
    top: 20px;
}
@media (max-width:768px) {
    #pennapps-logo {
    display: none;
}
}.button {
    background-color: #fff;
    color: #3390F1;
    border: 2px solid #efefef;
    border-radius: 4px;
    font-family: HalisR-Black;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 15px 45px 10px 45px;
    margin: 10px 10px;
    display: inline-block;
}
.button:hover {
    background-color: #efefef;
}
.button-subtitle {
    font-size: 1em;
    color: #fff;
    font-family: "Open Sans";
    font-style: italic;
}
.dark {
    color: #3390F1;
    background-color: #efefef;
    border-color: #3390F1;
}
.dark:hover {
    background-color: #3390F1;
    color: #fff;
}
.head-section {
    height: 50pc;
    margin: 0;
    background-position: center top;
    background-color: #3390F1;
}
.head-section .head-text {
    text-align: center;
    z-index: 10;
}
.head-section .head-image {
    width: 75pt;
    position: absolute;
    top: 20px;
    left: 20px;
}
.head-section h1 {
    font-family: HalisR-Black;
    text-transform: uppercase;
    font-size: 5em;
    margin: 0;
    padding: 0;
    color: #fff;
}
@media (max-width:768px) {
    .head-section h1 {
    font-size: 3.5em;
}
}.head-section h2 {
    font-family: HalisR-Light;
    margin: 0;
    padding: 0;
    font-size: 2em;
}
@media (max-width:768px) {
    .head-section h2 {
    font-size: 1.5em;
}
}.head-section h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin: 75px 0 0 0;
    padding: 0;
    font-size: 1.5em;
    color: #fff;
}
@media (max-width:768px) {
    .head-section h3 {
    font-size: 1em;
}
}.head-text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 20%}
@media (max-width:767px) {
    .head-text {
    top: 20%}
}.quote {
    margin: 40px 0;
    text-align: center;
}
.quote h2 {
    margin: 0;
    font-family: "Open Sans";
    font-weight: 300;
    font-style: italic;
    color: #3390F1;
    font-size: 2em;
    line-height: 1.75em;
}
.quote h3 {
    margin: 0;
    font-family: "Open Sans";
    font-weight: 700;
    font-style: italic;
    color: #e64659;
    font-size: 1.5em;
}
header {
    background-color: #efefef;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.navbar-fixed-top {
    background-color: #fff;
}
.navbar-fixed-top #nav-bubbles .bubble::before {
    border-color: #fff;
    height: 19px;
    top: -2px;
}
.navbar-fixed-top #nav-bubbles .bubble::after {
    background-color: #fff;
    height: 9px;
    top: 3px;
}
.navbar-fixed-top #nav-links {
    top: 0;
}
.navbar-fixed-top #nav-links li a h4 span {
    background: #fff;
}
.navbar-fixed-top #nav-links li a h4 span:hover {
    background: #efefef;
}
#nav-slider {
    position: absolute;
    top: 26px;
    height: 3px;
    background-color: #3390F1;
}
#nav-wrapper:not(.navbar-fixed-top) {
    position: absolute;
    width: 100%}
#nav-wrapper .container {
    padding-top: 10px;
}
#nav-wrapper .navbar-header .navbar-brand {
    display: none;
}
#nav-wrapper .navbar-toggle .icon-bar {
    background-color: #3390F1;
}
#nav-wrapper #slider-wrapper {
    position: relative;
    width: auto;
    overflow: hidden;
    top: -3px;
}
#nav-bubbles {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    height: 1pc;
}
#nav-bubbles .bubble {
    display: inline-block;
    width: 20%;
    height: 1pc;
    float: left;
    text-align: center;
    position: relative;
}
#nav-bubbles .bubble::before {
    position: absolute;
    width: 19px;
    height: 19px;
    top: -2px;
    margin-left: -11px;
    border-radius: 11px;
    left: 50%;
    -webkit-transition: border .3s, height .3s, top .3s;
    transition: border .3s, height .3s, top .3s;
    border: 3px solid #efefef;
    background-color: #3390F1;
    content: " "}
@media (min-width:768px) {
    #nav-bubbles .bubble: :before {
    height: 0;
    top: 0;
}
}#nav-bubbles .bubble::after {
    position: absolute;
    width: 9px;
    height: 9px;
    top: 3px;
    margin-left: -6px;
    border-radius: 5px;
    left: 50%;
    -webkit-transition: background .3s, height .3s, top .3s;
    transition: background .3s, height .3s, top .3s;
    background-color: #efefef;
    content: " "}
@media (min-width:768px) {
    #nav-bubbles .bubble: :after {
    height: 0;
    top: 0;
}
}#nav-bubbles .bubble.active::after {
    background-color: #3390F1;
}
#nav-links {
    min-height: 30px;
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 0;
    overflow: hidden;
    transition: top .3s ease;
    -webkit-transition: top .3s ease;
}
@media (min-width:768px) {
    #nav-links {
    top: -20px;
}
}#nav-links li {
    display: inline-block;
    width: 20%;
    height: 1pc;
    float: left;
    text-align: center;
    position: relative;
}
#nav-links li a {
    padding: 0;
}
#nav-links li a h4 {
    margin: 0;
    font-size: 1pc;
    line-height: 25px;
}
#nav-links li a h4 span {
    -webkit-transition: background .3s;
    transition: background .3s;
    padding: 1px 6px;
    padding-top: 3px;
}
@media (min-width:768px) {
    #nav-links li a h4 span {
    background: #efefef;
}
}#nav-links li a h4 span:hover {
    background: #fff;
    border-radius: 2px;
}
#nav-links li a:focus, #nav-links li a:hover {
    background: 0 0;
}
#content {
    position: relative;
    top: 5pc;
}
@media (max-width:767px) {
    #nav-wrapper>.container {
    padding: 0;
}
#nav-wrapper .navbar-header .navbar-brand {
    display: block;
}
#nav-wrapper .navbar-header .navbar-brand h2 {
    padding-top: 0;
}
#nav-wrapper .navbar-collapse {
    padding: 0;
}
#nav-wrapper .navbar-collapse #nav-links {
    padding: 0;
    margin: 0;
}
#nav-wrapper .navbar-collapse #nav-links li {
    height: 50px;
    line-height: 50px;
    display: block;
    width: 100%;
    background-color: #FFF;
}
#nav-wrapper .navbar-collapse #nav-links li {
    display: block;
}
#nav-wrapper .navbar-collapse #nav-links li a {
    padding: 0!important;
}
#nav-wrapper .navbar-collapse #nav-links #menu-btn {
    float: right;
    display: block;
}
#nav-wrapper .navbar-collapse.in {
    overflow-y: inherit;
}
}#brand {
    display: none;
    float: left;
    text-align: right;
    padding-right: 20px;
}
#brand h1 {
    font-family: HalisR-Black;
    margin-top: 10px;
    font-size: 30px;
}
#brand .num {
    font-family: HalisR-Light;
}
.navbar-brand h2 {
    margin-top: 0;
    font-size: 20px;
    color: #3390F1;
    text-transform: uppercase;
    font-family: HalisR-Black;
}
.navbar-brand .num {
    font-family: HalisR-Light;
}
.navbar-brand #subtitle {
    color: #e64659;
    text-transform: none;
    font-family: HalisR-Regular;
    font-size: .85em;
}
@media (min-width:768px) {
    #brand {
    display: block;
}
}.section-link h4 {
    font-family: HalisR-Regular;
    font-size: .5em;
    margin: 0;
    color: #3390F1;
    text-transform: uppercase;
}
.body-section {
    margin: 75pt 0;
}
.body-section h1 {
    padding: 20px 20px 30px 0;
    margin: 0;
    background-color: #efefef;
    display: inline-block;
}
.body-section hr {
    height: 4px;
    background: #3390F1;
    margin-top: -60px;
    margin-bottom: 60px;
    z-index: -10;
    border-radius: 2px;
}
.image-bar {
    width: 100%;
    height: 250px;
    border-radius: 2px;
    margin: 30px 0;
    position: relative;
    background-size: cover;
}
.image-bar.left-side-right-tilt-static::before {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 250px solid #efefef;
    border-right: 50px solid transparent;
    content: ''}
.image-bar.right-side-right-tilt-static::after {
    right: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 250px solid #efefef;
    border-left: 50px solid transparent;
    content: ''}
.image-bar.left-side-left-tilt-static::before {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 250px solid #efefef;
    border-right: 50px solid transparent;
    content: ''}
.image-bar.right-side-left-tilt-static::after {
    right: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 250px solid #efefef;
    border-left: 50px solid transparent;
    content: ''}
#application-image {
    background-image: url(../img/3.jpg);
    background-position: center center;
}
#college-hacakthon-image {
    background-image: url(../img/6.jpg);
    background-position: center center;
}
#mentoring-image {
    background-image: url(../img/3.jpg);
    background-position: center center;
}
#hardware-image {
    background-image: url(../img/5.jpg);
    background-position: center top;
}
#health-image {
    background-image: url(../img/2.jpg);
    background-position: center top;
}
#travel-image {
    background-image: url(../img/1.jpg);
    background-position: center center;
}
@media (max-width:991px) {
    .history-section {
    display: none;
}
}.tabs {
    overflow: hidden;
    position: relative;
    margin: 0;
}
.tabs nav {
    position: relative;
    height: 68px;
    background-color: #3390F1;
    border-radius: 3px;
}
.tabs nav ul {
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    position: relative;
    height: 100%}
.tabs nav ul li {
    position: relative;
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 25%;
    float: left;
    padding-bottom: 20px;
    padding-top: 20px;
    -webkit-transition: padding .3s;
    transition: padding .3s;
}
.tabs nav ul li i {
    padding-right: 10px;
}
.tabs nav ul li a {
    color: #fff;
    font-family: HalisR-Regular;
    font-size: 20px;
}
.tabs nav ul li a:focus, .tabs nav ul li a:hover {
    text-decoration: none;
}
@media (max-width:550px) {
    .tabs nav ul li span {
    display: none;
}
.tabs nav ul li i {
    padding-right: 0;
}
}.tabs nav ul li.tab-current {
    padding-bottom: 15px;
    padding-top: 25px;
}
.tabs nav ul li.tab-current a {
    color: #fff;
}
.tabs nav ul li:last-child::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #e64659;
    content: '';
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}
.tabs nav ul li:nth-child(3).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.tabs nav ul li:nth-child(2).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
}
.tabs nav ul li:nth-child(1).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-300%, 0, 0);
    transform: translate3d(-300%, 0, 0);
}
.tabs .tab-content-wrap {
    position: relative;
    overflow: hidden;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    width: 500%}
.tabs .tab-content-wrap .tab-content {
    max-height: 50pc;
    overflow-y: auto;
    display: block;
    float: left;
    width: 20%;
    margin-top: 10px;
    padding: 0 15px;
}
.tabs .tab-content-wrap.tab1 {
    transform: translate3d(0, 0, 0);
}
.tabs .tab-content-wrap.tab2 {
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
}
.tabs .tab-content-wrap.tab3 {
    -webkit-transform: translate3d(-40%, 0, 0);
    transform: translate3d(-40%, 0, 0);
}
.tabs .tab-content-wrap.tab4 {
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
}
#history.tabs nav ul li {
    width: 14.28%}
#history.tabs nav ul li:nth-child(6).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
#history.tabs nav ul li:nth-child(5).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
}
#history.tabs nav ul li:nth-child(4).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-300%, 0, 0);
    transform: translate3d(-300%, 0, 0);
}
#history.tabs nav ul li:nth-child(3).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-400%, 0, 0);
    transform: translate3d(-400%, 0, 0);
}
#history.tabs nav ul li:nth-child(2).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-500%, 0, 0);
    transform: translate3d(-500%, 0, 0);
}
#history.tabs nav ul li:nth-child(1).tab-current~li:last-child::before {
    -webkit-transform: translate3d(-600%, 0, 0);
    transform: translate3d(-600%, 0, 0);
}
#history .tab-content-wrap {
    width: 800%}
#history .tab-content {
    width: 12.5%}
#history.tabs .tab-content-wrap.tab1 {
    transform: translate3d(0, 0, 0);
}
#history.tabs .tab-content-wrap.tab2 {
    -webkit-transform: translate3d(-12.5%, 0, 0);
    transform: translate3d(-12.5%, 0, 0);
}
#history.tabs .tab-content-wrap.tab3 {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}
#history.tabs .tab-content-wrap.tab4 {
    -webkit-transform: translate3d(-37.5%, 0, 0);
    transform: translate3d(-37.5%, 0, 0);
}
#history.tabs .tab-content-wrap.tab5 {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}
#history.tabs .tab-content-wrap.tab6 {
    -webkit-transform: translate3d(-62.5%, 0, 0);
    transform: translate3d(-62.5%, 0, 0);
}
#history.tabs .tab-content-wrap.tab7 {
    -webkit-transform: translate3d(-75%, 0, 0);
    transform: translate3d(-75%, 0, 0);
}
.stats {
    font-size: .75em;
    text-align: right;
}
.footer-section {
    font: "Open Sans";
    font-weight: 300;
    padding: 75px 50px;
    background-color: #3390F1;
}
.footer-section img {
    margin-bottom: 10px;
}
.footer-section img:hover {
    opacity: .9;
}
.footer-section .footer-col {
    padding: 0 0 0 20px;
    margin: 20px 0 0 20px;
    border-left: 2px solid #fff;
}
.footer-section a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}
.footer-section a:hover {
    text-decoration: underline;
}
.footer-section p {
    color: #fff;
    font-size: 1.15em;
    margin: 0;
    line-height: 1.5em;
}
.footer-section .penn-logo {
    width: 150px;
    margin: 20px 0 0 60px;
}
#numbers-wrapper {
    text-align: center;
    margin: 40px 0;
}
.number-box {
    font-size: 24px;
    border: 3px solid #3390F1;
    border-radius: 10px;
    color: #fff;
    padding: 0 15px;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    overflow: hidden;
}
.number-box .left, .number-box .right {
    padding: 15px 25px;
    float: left;
    text-align: center;
    overflow: hidden;
}
.number-box .left {
    font-family: HalisR-Light;
    color: #fff;
    background-color: #3390F1;
}
.number-box .right {
    font-family: HalisR-Black;
    color: #3390F1;
    font-size: 30px;
    line-height: 30px;
    position: relative;
    top: 4px;
}
.number-box:nth-child(1) {
    width: 280px;
}
.number-box:nth-child(2) {
    width: 210px;
}
.number-box:nth-child(3) {
    width: 245px;
}
.number-box+.number-box {
    margin-left: 110px;
}
@media (max-width:1199px) {
    .number-box+.number-box {
    margin-left: 43px;
}
}@media (max-width:992px) {
    .number-box {
    display: block;
    margin: auto;
}
.number-box:nth-child(3) {
    -webkit-transform: translate3d(0, -90px, 0);
    transform: translate3d(0, -90px, 0);
}
.number-box:nth-child(2) {
    -webkit-transform: translate3d(0, 90px, 0);
    transform: translate3d(0, 90px, 0);
}
.number-box+.number-box {
    margin: auto;
    margin-top: 20px;
}
}.activate-fade {
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.activate-fade.in {
    opacity: 1;
}
.activate-tilt::before {
    position: absolute;
    width: 0;
    height: 0;
    transition: border 1s;
    -webkit-transition: border 1s;
    content: ''}
.activate-tilt::after {
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    transition: border 1s;
    -webkit-transition: border 1s;
    content: ''}
.activate-tilt.left-side-right-tilt.left-side-right-tilt::before, .activate-tilt.right-side-right-tilt.left-side-right-tilt::before {
    border-top: 250px solid #efefef;
    border-right: 0 solid transparent;
}
.activate-tilt.left-side-right-tilt.right-side-right-tilt::after, .activate-tilt.right-side-right-tilt.right-side-right-tilt::after {
    border-bottom: 250px solid #efefef;
    border-left: 0 solid transparent;
}
.activate-tilt.left-side-right-tilt.in.left-side-right-tilt::before, .activate-tilt.right-side-right-tilt.in.left-side-right-tilt::before {
    border-top: 250px solid #efefef;
    border-right: 50px solid transparent;
}
.activate-tilt.left-side-right-tilt.in.right-side-right-tilt::after, .activate-tilt.right-side-right-tilt.in.right-side-right-tilt::after {
    border-bottom: 250px solid #efefef;
    border-left: 50px solid transparent;
}
.activate-tilt.left-side-left-tilt.left-side-left-tilt::before, .activate-tilt.right-side-left-tilt.left-side-left-tilt::before {
    border-bottom: 250px solid #efefef;
    border-right: 0 solid transparent;
}
.activate-tilt.left-side-left-tilt.right-side-left-tilt::after, .activate-tilt.right-side-left-tilt.right-side-left-tilt::after {
    border-top: 250px solid #efefef;
    border-left: 0 solid transparent;
}
.activate-tilt.left-side-left-tilt.in.left-side-left-tilt::before, .activate-tilt.right-side-left-tilt.in.left-side-left-tilt::before {
    border-bottom: 250px solid #efefef;
    border-right: 50px solid transparent;
}
.activate-tilt.left-side-left-tilt.in.right-side-left-tilt::after, .activate-tilt.right-side-left-tilt.in.right-side-left-tilt::after {
    border-top: 250px solid #efefef;
    border-left: 50px solid transparent;
}
table.schedule {
    border: 1px solid #3390F1;
    width: 100%;
    margin-bottom: 40px;
}
table.schedule tr td, table.schedule tr th {
    padding: 10px 20px;
}
table.schedule tr th {
    background-color: #3390F1;
    color: #fff;
}
table.schedule tr:nth-child(even) {
    background-color: #f5f5f5;
}
table.schedule tr td.none {
    border: 1px solid #efefef;
    background-color: #efefef;
    border-top: 1px solid #3390F1;
}
#spon-section {
    padding-top: 75pt;
    background-color: #3390F1;
    text-align: center;
    padding-bottom: 75pt;
}
#spon-section h1 {
    color: #fff;
}
#spon-section .row {
    text-align: center;
}
#spon-section .spon-logo {
    background-position: center center;
    background-origin: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    float: none;
    text-align: center;
    margin-left: -4px;
}
#spon-section #title-spons .spon-logo {
    height: 250px;
}
#spon-section #tera-spons .spon-logo {
    height: 175px;
    padding-left: 10px;
    padding-right: 10px;
}
#spon-section #giga-spons .spon-logo {
    height: 150px;
    max-width: 300px;
}
#spon-section #mega-spons .spon-logo {
    height: 75pt;
    max-width: 250px;
}
#spon-section #kilo-spons .spon-logo {
    height: 70px;
    max-width: 200px;
}

.header {
  width: 100%;
  height: 75px;
  background-color: #3390F1;
  color: white;
}
.header a h1 {
  font-family: "HalisR-Black";
  text-transform: uppercase;
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  color: white;
}
.header a:hover h1 {
  color: #efefef;
}
.header #dash {
  width: 40px;
  height: 1px;
  background-color: #efefef;
  float: left;
  margin: 35px 20px;
}
.header h2 {
  font-family: "HalisR-Light";
  text-transform: uppercase;
  float: left;
  margin-top: 20px;
}
